.title {
	@extend %title-flex;
}
.main-title {
	margin-bottom: 70px;
	.main-title__undertitle {
		font-size: 30px;
		text-transform: uppercase;
	}
	.main-itle__subtitle {
		@extend %subtitle;
	}
	&::after {
		@extend %after;
		margin-top: 40px;
		height: 4px; width: 60px;
		background: #f38181;
	}	
}
