@media (min-width: 748px) {
	.container {
		width: 748px;
	}
	.small-header {
		min-height: 700px;
		margin-bottom: 80px;
	}
	.navigation {
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 166px;
	}
	.buttons {margin: 0;}
	.main-title {margin-bottom: 40px;}
	.text {margin-bottom: 36px;}
	.partner-list {
		height: 500px; width: 492px;
		flex-wrap: wrap;
		margin: 0 auto;
		margin-bottom: 38px;
	}
	.partner-items {
		margin: 0; padding: 0;
		margin-right: 20px;
	}
	.partner-items:nth-child(odd) {margin-bottom: 58px;}
}

@media (min-width: 940px) {
	.container {width: 940px;}
	.partner-list {
		width: auto; height: auto;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center
	}
	.partner {padding-bottom: 70px;}
	.partner-items {
		margin-right: 13px;
	}
	.partner-items:nth-child(4) {
		margin-right: 0;		
	}
	.partner-items:nth-child(odd) {margin-bottom: 0px;}
}
