html {
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0;
  width: 1110px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
a {
  display: block;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*HEADER*/
header {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 100px;
  padding-top: 40px;
}

/*МЕНЮШКА*/
.main-menu {
  float: right;
  position: relative;
  width: 480px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
}
.main-menu li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 30px;
}
.main-menu a:hover {
  color: #1abc9c;
}
.main-menu a:focus {
  color: #1abc9c;
}
.main-menu li:nth-child(6) {
  margin-right: 0px;
}
.main-menu a {
  text-decoration: none;
  color: #0f0101;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

/*ЛОГО*/
.logo {
  display: inline-block;
  font-family: "Roboto" sans-serif;
  font-weight: 200;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(85, 82, 82);
}
.logo::first-letter {
  font-family: "Roboto" sans-serif;
  font-weight: 200;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(26, 188, 156);
}

/*СЕКЦИЯ*/
/*СЛАЙДЕР*/
.slider {
  position: relative;
}
.slider-list {
  margin: 0;
  padding: 0;
}
.slider-image {
  height: 600px;
  width: 100%;
}
.slider-info {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #fcfcfc;
}
.slider-header {
  font-size: 60px;
  line-height: 80px;
}
.slider-text {
  font-size: 24px;
  line-height: 54px;
  font-weight: 200;
}

/*КНОПКИ*/
.slider-button {
  position: absolute;
  display: inline-block;
  border: none;
  width: 95px;
  height: 100px;
  background-color: #1abc9c;
  z-index: 1;
}
.button-prev {
  left: 245px;
  top: 50%;
  transform: translateY(-50%);
}
.button-next {
  right: 245px;
  top: 50%;
  transform: translateY(-50%);
}
.button-prev:hover {
  opacity: 65%;
  transition: 0.3s linear;
  padding-right: 15px;
}
.button-next:hover {
  opacity: 65%;
  transition: 0.3s linear;
  padding-left: 15px;
}
.button-prev::after {
  content: "\2039";
  text-align: center;
  color: #fcfcfc;
  font-size: 100px;
  line-height: 35px;
  font-weight: 200;
}
.button-next:after {
  content: "\203A";
  text-align: center;
  color: #fcfcfc;
  font-size: 100px;
  line-height: 35px;
  font-weight: 200;
}

/*СЕКЦИЯ*/
.main-content {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e9f0fd;
  padding-bottom: 100px;
}

/*H2*/
.section-name {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 52px;
  color: #515151;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 80px;
}
.section-name::after {
  content: "";
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
  width: 160px;
  height: 7px;
  background-color: rgb(26, 188, 156);
}

/*КАРТОЧКИ*/
.main-list {
  width: 1110px;
  margin: 0 auto;
}
.main-list-items {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
.main-list-items:nth-child(4) {margin-right: 0px;}
.goods-info {
  font-size: 18px;
  line-height: 32px;
  color: #fcfcfc;
  font-weight: 600;
  text-transform: uppercase;
}
.goods-name {
  float: left;
  width: 200px;
  height: 40px;
  background-color: #323232;
  padding-left: 15px;
  padding-top: 5px;
}
.goods-prise {
  float: right;
  width: 55px;
  height: 40px;
  background-color: #8c8c8c;
  padding-left: 10px;
  padding-top: 5px;
}
.main-list-items:hover .goods-name {
  background-color: #1abc9c;
  padding-left: 40px;
  transition: 0.3s;
}
.main-list-items:hover .goods-prise {
  background-color: #1abc9c;
  opacity: 80%;
}

/*ХОВЕР КАРТОЧКИ*/
.shadow-box {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 235px;
  height: 300px;
  background-color: #73737300;
}
.main-list-items:hover .shadow-box {background-color: rgba(0, 0, 0, 0.6);}
.main-list-items:hover .icon-list-item {opacity: 1;}
.icon-list-item:hover button {
  background-color: #1abc9c;
  border: none;
}
.red:hover .icon-heart {
  background-color: red;
  transition: 0.3s ease;
  background-size: 40px;
}
/*ИКОНКИ*/
.icon-list {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.icon-list-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.icon-list button {
  border: none;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}
.add, .add button {width: 160px; height: 50px;}
.icon-list .icon-add {background-position: 10% 40%;}
.add-text {
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 14px;
  float: right;
}
.icon-heart {
  background: transparent;
  background-image: url(../img/heart.png);
}
.icon-share {
  background: transparent;
  background-image: url(../img/share.png);
}
.icon-clock {
  background: transparent;
  background-image: url(../img/clock.png);
}
.icon-add {
  background: transparent;
  background-image: url(../img/add.png);
}

/*ФУТЕР*/
.end {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90px;
  background-color: #383838;
}
.down {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  text-align: center;
}
.down p {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 28px;
}
.down a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-transform: none;
  text-decoration: none;
  color: #1abc9c;
}

/*ФИКСИРОВАННАЯ КНОПКА*/
.help {
  position: fixed;
  bottom: 5px;
  right: 110px;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50px;
  background-color: #1abc9c;
  color: #fcfcfc;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}
.help:hover {
  filter: hue-rotate(180deg);
}
