$logo-color: #ffffff;
$nav-hover: #fce38a;
$link-color: #ffffff;
$header-title-color: #ffffff;
$header-title-after: #ffffff;
$header-btn-border: #ffffff;
$header-button: #ffffff;

$services-title: #ffffff;
$services-after: #f38181;
$services-name-text: #999999;
$services-fish-text: #333333;

$team-fish-text: #999999;
$team-info-name: #333333;
$team-info__post: #999999;
$team-bg-hover: #95e1d3;

$icon-fill: #ffffff;
$gradient: linear-gradient(to bottom, #1e960095, #fff20095, #ff000095);

$foo-link: #f38181;
$foo-border: #e5e5e5;

$input-border: #99999970;
$btn-color: #ffffff;
$btn-bg: #95e1d3;

$font-subtitle: 'Kaushan Script', cursive;