html {font-family: "Playfair Display", serif;}
.container {width: 900px; margin: 0px auto;}
a {display: block;}
/*Header*/
header {
    padding-top: 76px;
    padding-bottom: 100px;
    text-align: center;
}
.main-menu {
    font-size: 0px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.main-menu-items {
    display: inline-block;
    margin-right: 105px;
}
.main-menu-items a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(98, 98, 98);
    font-size: 14px;
    line-height: 24px;
}
a:hover {color: rgb(3, 169, 244);}
a:focus {color: rgb(3, 169, 244);}
.main-menu-items:nth-child(4) {margin-right: 0px;}
/*Main*/
.main-content {padding-bottom: 70px;}
.big-box {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    padding-bottom: 56px;
}
.big-box-item {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
}
.big-box-item:nth-child(2n) {margin-right: 0px;}
.big-box li:nth-child(-n + 4) {margin-bottom: 136px;}
img {margin-bottom: 32px;}
.content-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 28px;
}
.content-h2 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 40px
}
.content-text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}
.load-more {text-align: center;
}
.more {
    margin: 0;
    padding: 0;
    width: 164px;
    height: 60px;
    background: rgb(255 255 255);
    border: 1px solid rgb(98, 98, 98);
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}
.more:hover {color: rgb(3, 169, 244);}
.more:focus {color: rgb(3, 169, 244);}
p::selection {
    color: black;
    background-color: green;
}